/**
 * @file
 * color.scss
 *
 * This file contains styles that pertain to COLOR, including:
 *
 * color, *-color
 */

input[id^="edit-submit"],
input#edit-actions-submit,
input[id^="save-continue"],
input[id^="edit-save"],
input#edit-save,
input#edit-submit,
input#edit-actions-save,
#media-browser-page a.button-yes {
  background-color: #BAD80A;
  color: #006B3F;

  &:hover {
    background-color: #006B3F;
  }
}

#edit-cancel,
#edit-actions-cancel,
input#edit-buttons-revert,
#media-browser-page a.button-no {
  background-color: #EFB200;

  &:hover {
   background-color: #963c00; 
  }
}

input#edit-delete,
input#remove-button,
input#edit-remove,
input#edit-clear,
a.button.remove,
input[id$="remove-button"],
.page-admin-modules-uninstall input#edit-submit {
  background-color: #CC2D30;
}

#navbar-administration {
  .navbar-icon,
  .navbar-menu-item {
    
    &:focus, &:active {
      color: #0083D6;
    }
  }
}

#media-browser-tabset #branding h1 {
  color: #fff;
}
