/**
 * @file
 * typography.scss
 *
 * This file contains styles pertaining to TYPOGRAPHY, including:
 *
 * font-family, text-style, text-align
 */

/* FONT STACKS
 */
$opensans: "Open Sans", "Segoe UI", "Helvetica", sans-serif;

#navbar-administration {
  .navbar-icon,
  .navbar-menu-item {
    font-family: $opensans;  
  }
}

#permissions td.module {
  font-family: $opensans;
}

strong {
  font-family: inherit !important;
}
